body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #f0f8ff;
    padding: 20px;
    position: relative; /* Ensure relative positioning for the logo */
    border: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.sign-logo {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    width: 100px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}


footer p {
    margin: 0;
    font-size: 0.9em;
    text-align: center; /* Center footer text */
    padding: 20px; /* Add some padding */
}