<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek Tiwari</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-contact.css') }}">
    <link rel="script" href="{{ url_for('static', filename='script-playground.js') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <li><a href="{{ url_for('education') }}">Education</a></li>
                <li><a href="{{ url_for('experience') }}">Experience</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Me</a></li>
            </ul>
        </nav>
        <img src="images/sign.png" alt="Your Sign" class="sign-logo">
    </header>
    <div id="iframe-container" class="iframe-container">
        <div class="iframe-header">
            <span class="close-button" onclick="closeIframe()">&#10005;</span>
        </div>
        <iframe
            src="https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/1671714757598811/2581966119829112/8370016137563581/latest.html"
            id="playground-iframe"></iframe>
    </div>
    <footer>
        <p>&copy; 2024 Abhishek Tiwari. All rights reserved.</p>
    </footer>
</body>

</html>
